body {
    margin: 0;
    /* padding: 0 12%; */
    box-sizing: border-box;
    background-color: black;


}

.disp-none {
    display: none;
}

main {
    margin: auto;
    /* background-color: aquamarine; */

}

nav {

    width: 100%;
    height: 68px;
    flex-shrink: 0;
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid gray;
    background-color: black;
    justify-content: space-between;
}

.div_main {
    display: flex;
    /* background-color: darkkhaki; */
    width: 100%;
    justify-content: space-between;

}

.frame {
    display: inline-flex;
    padding: 0px 64px;
    align-items: center;
    gap: 24px;
}

.frame p {
    display: flex;
    align-items: center;
}


#home {
    color: #C01A20;
}

.libPod-Content {
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    padding-left: 8px;
}

.search_button {
    width: 433px;
    height: 68px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    position: relative;

    /* margin-left: 344px; */

}

.search_input {
    width: 283px;
    height: 48px;
    padding: 10px 0px 10px 20px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #FFF;
    color: #C01A20;
    border: none;
    outline: none;

}

.search_icon {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 384px;

}

.notification_icon {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 14px;
    margin-left: 22px;

}

.expand_iconDiv {
    display: inline-flex;
    align-items: center;
    /* margin-left: 63px;
    margin-right: 45px; */

}

.iconlist {

    display: flex;
    margin-right: 73px;
    justify-content: space-between;
    /* background-color: #C01A20; */
}

.search-notify {
    display: flex;
    margin-right: 54px;
}

.img_icon {
    width: 40px;
    height: 40px;
    border-radius: 40px;

}

.expand_arrow {
    width: 24px;
    height: 24px;
    color: #FFFFFF;
    /* margin-left: px; */
}

.dropdown {
    position: relative;
    display: inline-block;



}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    margin-top: 10px;
    /* background-color: #f9f9f9; */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: gray;
    padding: 5px;

}

.dropdown-content a {
    /* color:#f9f9f9 ; */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    padding-left: 7px;
    color: black;
}

/* 
.dropdown:hover .dropdown-content {
    display: block;
} */

.dropdown_icon {
    display: flex;
    margin-left: 15px;

}

.dropdown_icon1 {
    color: black;
}
.main-section{
    padding: 32px;
    /* background-color: #C01A20; */
    padding: 0px 92px;
}

.slider_main_div {
    display: flex;
    align-items: center;
}

.songs_images {
    display: flex;

    margin: auto;
    margin-top: 43px;
}

.songs_images img {
    width: 302px;
    height: 331px;
    flex-shrink: 0;
    margin-right: 34px;
}

/* .arrow_back{
    
} */
.middle_shadow {
    width: 337px;
    /* height: 30px; */
    height: 46px;
    flex-shrink: 0;
    /* background-color: darkolivegreen; */
    margin-top: 12px;
}

#middle_img {
    display: flex;

    width: 337px;
    height: 337px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
}

.sl_shadow {
    width: 302px;
    height: 60px;
    flex-shrink: 0;
    background-color: #C01A20;
    /* fill: linear-gradient(157deg, #000 30.92%, rgba(0, 0, 0, 0.00) 92.5%), url(<path-to-image>), lightgray 0px -244px / 100% 503.333% no-repeat; */
}

.sl_img {
    width: 302px;
    height: 331px;
    flex-shrink: 0;
    padding-bottom: 8px;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0, 0, 0, 0.0)85%, rgba(0, 0, 0, 0.4));
}

.treanding_song-heading {
    height: 36px;
    /* background-color: rgb(218, 77, 34); */
    display: flex;
    justify-content: space-between;
  
   }

.treanding_song-heading h4 {
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 36px */
    /* padding-left: 32px; */
    margin-top: 1px;
}

.see-all-btn {
    display: flex;
    padding: 6px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #FFF;
    color: #C01A20;
    transition: transform 0.9s ease;
}

.see-all-btn:hover {
    transform: scale(0.9);
}

.see_all_btn-div {
    display: inline-flex;
    align-items: center;
    gap: 20px;
   }

.cover {
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    align-items: center;
    /* background-color: #C01A20; */
    }

.box {
    color: #FFFFFF;

}

.heading-para {
    line-height: 5px;
}

.container {
    position: relative;
}

.cover-images {
    transition: transform 0.3s ease;
}

.container:hover .cover-images {
    opacity: 0.7;
    transform: translate(2px, -2px);

}

.container:hover .middle {
    opacity: 1;
}

.cover-images {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.pause-img {

    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.bottom {
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    /* background: rgba(0, 0, 0, 0.50); */
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(10px);

}

#myProgressbar {
    width: 100%;
    /* padding-top: 0px; */
}

.bottom_icons_images {
    display: flex;
    justify-content: center;
    margin-right: 166px;
}

.bottom_song_img {
    display: flex;
    justify-content: space-between;
}

.img-div {
    display: flex;
    margin-left: 65px
}

.heeriye-img {
    width: 64px;
    height: 64px;
    border-radius: 10.286px;
    margin-right: 12px;
    margin-top: 6px;
}

.song-tittle {
    line-height: 6px;
}

.song-tittle {
    width: 211px;
    color: #FFF;
}

.song-tittle p {
    width: 208px;
    color: #888;
}

.bottom_icons_images {
    gap: 35px;
}

.bottom-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;

}

.btn {
    padding: 6px 16px;
    border-radius: 8px;
    background-color: #c01a1f;
    color: white;
    outline: none;
    border: none;
    height: 38px;
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 27px */
}

.btn:hover {
    background: #c01a1fbe;
}